{% extends "index.html" %}

{% block title %}List{% endblock %}

{% block main %}

<div  class="container">
    <div  class="row justify-content-left">
      <div  class="col-4">
          
        {% for object in objects %}

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" {% if object.compleat %} checked {% endif %}>
            <a href="{% url 'detail' object.pk %}"> {{object.title}} </a>
         </div>

        {% endfor %}
    </div>
</div>

{% endblock %}
