{% extends "index.html" %}

{% block title %}{{name}}{% endblock %}
{% block main %}

<div  class="container">
  <a class="nav-link" href="{% url "project_new" %}">+{{name}}</a>
    <div  class="row justify-content-left">
      <div  class="col-4">
          
        {% for object in objects %}

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" {% if object.compleat %} checked {% endif %}>
            <a href="{% url 'project_detail' object.pk %}"> {{object.title}} </a>
         </div>

        {% endfor %}
    </div>
</div>

{% endblock %}
